/* Global */


// var colors

$omflightgrey : #F6F6F6;
$omfgrey : #EAEAEA;
$omfpurple : #9356DC;
$omfpink : #FF79DA;
$omfgreen : #99E2D0;


*{
    margin: 0 auto;
}

body {
    font-family: 'Roboto', sans-serif;
  }


// LOADER

.loaderbg{
    background-color: $omfgreen;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 9000;
    visibility: hidden;
    animation-name: hideLoader;
    animation-duration: 3s;
    opacity: 0;

    .loader,
    .loader:before,
    .loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
    }
    .loader {
    color: #ffffff;
    font-size: 15px;
    margin: 320px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
    }
    .loader:before,
    .loader:after {
    content: '';
    position: absolute;
    top: 0;
    }
    .loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
    }
    .loader:after {
    left: 3.5em;
    }
    @-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
    }
    @keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
    }


}

@keyframes hideLoader {
    0% {
        visibility: visible;
        opacity: 1;
    }


    75% {
        visibility: visible;
        opacity: 1;
        
    }

    100%{
        visibility: visible;
        opacity: 0;
    }
}

// END LOADER



.title{
    font-family: 'Shrikhand', cursive;
}

.title_menu{
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

/* Nav */

.nav{
    display: flex;
    align-items: center;
    flex-direction: column;

    .logo{
        padding: 10px 0 5px 0px;
        
        
    }
}

/* main */

.explorer{
    text-align: center;
    background-color: $omflightgrey;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1{
        font-size: 26px;
    }

    p{
        margin: 15px 25px;
    }

}

.button_omf{
    padding: 25px 55px;
    font-size: 16px;
    border: none;
    border-radius: 60px;
    background: linear-gradient(173deg, rgba(203,119,223,1) 31%, rgba(160,90,220,1) 79%);
    color: white;
    transition: 0.5s;
    filter: brightness(1);
    box-shadow: 0px 8px 17px -2px rgba(130,130,130,0.36);
    -webkit-box-shadow: 0px 8px 17px -2px rgba(130,130,130,0.36);
    -moz-box-shadow: 0px 8px 17px -2px rgba(130,130,130,0.36);


    &:hover{
        filter:brightness(1.25);

        box-shadow: 0px 8px 17px -2px rgba(130,130,130,0.67);
        -webkit-box-shadow: 0px 8px 17px -2px rgba(130,130,130,0.67);
        -moz-box-shadow: 0px 8px 17px -2px rgba(130,130,130,0.67);
    }
}

/* searchbar */

.searchbar{
    width: 100%;
    background-color: $omfgrey;
    text-align: center;
    box-shadow: 0px -2px 3px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px -2px 3px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px -2px 3px 0px rgba(0,0,0,0.1);

    input{
        border: 0px none;
        background-color: $omfgrey;
        font-size: 18px;
        padding: 20px 0;
    
        text-align: center;
        font-weight: bold;
    }
}

/* Fonctionnement */

.fonctionnement{
    height: 100%;
    margin: 15px 5px;

    h1{
        margin-bottom: 4%;
    }

    .fonc_etapes{
        background-color: $omflightgrey;
        border-radius: 17px;
        margin: 5px 10px;
        margin-left: 10%;
        margin-bottom: 25px;
        display: flex;
        align-items: center;
        padding: 20px;
        width: 75%;
        transition: 0.5s;
        box-shadow: 0px 0px 17px -7px rgba(130,130,130,1);
        -webkit-box-shadow: 0px 0px 17px -7px rgba(130,130,130,1);
        -moz-box-shadow: 0px 0px 17px -7px rgba(130,130,130,1);

        .fonc_num{
            position: absolute;
            padding: 5px 10px;
            background-color: $omfpurple;
            border-radius: 100%;
            font-size: 12px;
            color: white;
            margin-left: -8%;
        }

        p{
            font-weight: bold;
            margin-left: -5%;
        }

        &:hover{
            i{
                color: $omfpurple;
                transition: 0.5s;
            }

            background-color: #F5EDFF;
        }

    }    

    

}



/* Restos */


.restaurants{
    background-color: $omflightgrey;

    h1{
        padding-top: 50px;
        padding-bottom: 25px;
        margin-left: 3%;

    }

    .resto_blocs{
        display: flex;
        flex-direction: column;
        align-items: center;

        .bloc_img{
            p{
                position: absolute;
                padding: 10px;
                color: #557a55;
                right: 10px;
                margin-right: 25px;
                margin-top: 15px;
                border-radius: 5px;
                background-color: $omfgreen;
                font-size: 13px;
            }
        }
        

        .resto_bloc{
            margin-bottom: 5%;
            border-radius: 15px;
            box-shadow: 0px 0px 17px -7px rgba(130,130,130,1);
            -webkit-box-shadow: 0px 0px 17px -7px rgba(130,130,130,1);
            -moz-box-shadow: 0px 0px 17px -7px rgba(130,130,130,1);

            img{
                width: 95vw;
                height: 210px;
                object-fit: cover;
                border-radius: 15px 15px 0 0;
            
            
            }

            .bloc_text{
                background-color: #fff;
                display: flex;
                align-items: center;
                margin-top: -4px;
                border-radius: 0 0 15px 15px;
                font-size: 20px;
                padding: 15px 0;

        
                .resto_title{
                    font-weight: bold;
                    padding-right: 100px;

        
                    a{
                        color: black;
                        text-decoration: none;
                    
                    }
        
                }

                .resto_like{
                    font-size: 25px;
                    position: relative;
                    top: 15px;
                
                    .heart_filled{
                        opacity: 0;
                        top: -30px;
                        left: -0.5px;

                        background: -webkit-gradient(linear, right top, left bottom, from($omfpurple), to($omfpink));
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
        

                        position: relative;
                        font-size: 26px;
                        -webkit-transition: 0.3s;
                        transition: 0.5s;
                    
                
                        &:hover{
                            opacity: 1;
                        }
                
                
                    }
                
                    .heart_empty{
                        
                        font-weight: lighter;

                        &:hover{
                            opacity: 0;
                        }
                    }
                }

                
            
            }
        }
    }

    
}




/* Footer */

footer{
    background-color: #353535;
    padding-left: 5%;
    padding-bottom: 5%;

    p{
        a{
            color: white;
            text-decoration: none;
            font-size: 15px;
        }

        i{
            color: white;
            font-size: 10px;
        }
    }

    img{
        filter: invert(1);
        width: 100px;
        margin: 10px 0;
    }
}


// menus

.menu_img{

    img{
        width: 100%;
        height: 275px;
        object-fit: cover;
    }

}

.nav_menu{
    display: flex;
    align-items: center;
    flex-direction: column;


    i{
        position:absolute;
        left: 22px;
        top: 24px;
    }

    .logo{
        padding: 15px 0 15px 0 ;
    }

}

.menu{
    border-radius: 18px 18px 0 0;
    background-color: $omflightgrey;
    position: relative;
    top: -25px;

    .title{
        display: flex;
        align-items: center;
        margin-left: -25px;

        .resto_like{
            font-size: 25px;
            position: relative;
            top: 20px;
        
            .heart_filled{
                opacity: 0;
                top: -37.5px;
                left: -1px;


                background: -webkit-gradient(linear, right top, left bottom, from($omfpurple), to($omfpink));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

                position: relative;
                font-size: 26.5px;
                -webkit-transition: 0.3s;
                transition: 0.5s;
            
        
                &:hover{
                    opacity: 1;
                }
        
        
            }
        
            .heart_empty{
                font-weight: lighter;
                
                &:hover{
                    opacity: 0;
                }

            }
        }
    }

    .menu_name{
        margin: 15px;
        
        .border{
            background-color: $omfgreen;
            margin-top: 2px;
            height: 3px;
            width: 39px;
            position: absolute;
        }
    }
}


.card_elements {
    background-color: white;
    border-radius: 15px;
    margin: 15px;
    overflow: hidden;
}

.menu_card {
    display: flex;
    width: 100%;



}

.left_card{
    display: flex;
    width: 100%;
    align-items: flex-end;

    &:hover > .checkmark{
        margin-right: 0px;
}

    .c1 {
        margin: 0;
        min-width: 60%;
        width: 100%;
        font-size: 13.5px;
        padding: 10px 8px;

        p{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

    }

}


.price_menu {
    font-weight: bold;
    margin-bottom: 10px;
    

}



.checkmark {
    background-color: $omfgreen;
    width: 100px;
    height: 100%;
    display: flex;
    margin-left: 26px;
    align-items: center;
    margin-right: -101px;
    transition: 0.5s;

    




    i {
        color: $omfgreen;
        background-color: white;
        border-radius: 30px;
        padding: 5px;
    }
}

