/* Global */
* {
  margin: 0 auto;
}

body {
  font-family: 'Roboto', sans-serif;
}

.loaderbg {
  background-color: #99E2D0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 9000;
  visibility: hidden;
  -webkit-animation-name: hideLoader;
          animation-name: hideLoader;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  opacity: 0;
}

.loaderbg .loader,
.loaderbg .loader:before,
.loaderbg .loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}

.loaderbg .loader {
  color: #ffffff;
  font-size: 15px;
  margin: 320px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loaderbg .loader:before,
.loaderbg .loader:after {
  content: '';
  position: absolute;
  top: 0;
}

.loaderbg .loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loaderbg .loader:after {
  left: 3.5em;
}

@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    -webkit-box-shadow: 0 2.5em 0 -1.3em;
            box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    -webkit-box-shadow: 0 2.5em 0 0;
            box-shadow: 0 2.5em 0 0;
  }
}

@keyframes load7 {
  0%,
  80%,
  100% {
    -webkit-box-shadow: 0 2.5em 0 -1.3em;
            box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    -webkit-box-shadow: 0 2.5em 0 0;
            box-shadow: 0 2.5em 0 0;
  }
}

@-webkit-keyframes hideLoader {
  0% {
    visibility: visible;
    opacity: 1;
  }
  75% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: visible;
    opacity: 0;
  }
}

@keyframes hideLoader {
  0% {
    visibility: visible;
    opacity: 1;
  }
  75% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: visible;
    opacity: 0;
  }
}

.title {
  font-family: 'Shrikhand', cursive;
}

.title_menu {
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Nav */
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav .logo {
  padding: 10px 0 5px 0px;
}

/* main */
.explorer {
  text-align: center;
  background-color: #F6F6F6;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.explorer h1 {
  font-size: 26px;
}

.explorer p {
  margin: 15px 25px;
}

.button_omf {
  padding: 25px 55px;
  font-size: 16px;
  border: none;
  border-radius: 60px;
  background: linear-gradient(173deg, #cb77df 31%, #a05adc 79%);
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-filter: brightness(1);
          filter: brightness(1);
  box-shadow: 0px 8px 17px -2px rgba(130, 130, 130, 0.36);
  -webkit-box-shadow: 0px 8px 17px -2px rgba(130, 130, 130, 0.36);
  -moz-box-shadow: 0px 8px 17px -2px rgba(130, 130, 130, 0.36);
}

.button_omf:hover {
  -webkit-filter: brightness(1.25);
          filter: brightness(1.25);
  box-shadow: 0px 8px 17px -2px rgba(130, 130, 130, 0.67);
  -webkit-box-shadow: 0px 8px 17px -2px rgba(130, 130, 130, 0.67);
  -moz-box-shadow: 0px 8px 17px -2px rgba(130, 130, 130, 0.67);
}

/* searchbar */
.searchbar {
  width: 100%;
  background-color: #EAEAEA;
  text-align: center;
  box-shadow: 0px -2px 3px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px -2px 3px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px -2px 3px 0px rgba(0, 0, 0, 0.1);
}

.searchbar input {
  border: 0px none;
  background-color: #EAEAEA;
  font-size: 18px;
  padding: 20px 0;
  text-align: center;
  font-weight: bold;
}

/* Fonctionnement */
.fonctionnement {
  height: 100%;
  margin: 15px 5px;
}

.fonctionnement h1 {
  margin-bottom: 4%;
}

.fonctionnement .fonc_etapes {
  background-color: #F6F6F6;
  border-radius: 17px;
  margin: 5px 10px;
  margin-left: 10%;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  width: 75%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  box-shadow: 0px 0px 17px -7px #828282;
  -webkit-box-shadow: 0px 0px 17px -7px #828282;
  -moz-box-shadow: 0px 0px 17px -7px #828282;
}

.fonctionnement .fonc_etapes .fonc_num {
  position: absolute;
  padding: 5px 10px;
  background-color: #9356DC;
  border-radius: 100%;
  font-size: 12px;
  color: white;
  margin-left: -8%;
}

.fonctionnement .fonc_etapes p {
  font-weight: bold;
  margin-left: -5%;
}

.fonctionnement .fonc_etapes:hover {
  background-color: #F5EDFF;
}

.fonctionnement .fonc_etapes:hover i {
  color: #9356DC;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* Restos */
.restaurants {
  background-color: #F6F6F6;
}

.restaurants h1 {
  padding-top: 50px;
  padding-bottom: 25px;
  margin-left: 3%;
}

.restaurants .resto_blocs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurants .resto_blocs .bloc_img p {
  position: absolute;
  padding: 10px;
  color: #557a55;
  right: 10px;
  margin-right: 25px;
  margin-top: 15px;
  border-radius: 5px;
  background-color: #99E2D0;
  font-size: 13px;
}

.restaurants .resto_blocs .resto_bloc {
  margin-bottom: 5%;
  border-radius: 15px;
  box-shadow: 0px 0px 17px -7px #828282;
  -webkit-box-shadow: 0px 0px 17px -7px #828282;
  -moz-box-shadow: 0px 0px 17px -7px #828282;
}

.restaurants .resto_blocs .resto_bloc img {
  width: 95vw;
  height: 210px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.restaurants .resto_blocs .resto_bloc .bloc_text {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -4px;
  border-radius: 0 0 15px 15px;
  font-size: 20px;
  padding: 15px 0;
}

.restaurants .resto_blocs .resto_bloc .bloc_text .resto_title {
  font-weight: bold;
  padding-right: 100px;
}

.restaurants .resto_blocs .resto_bloc .bloc_text .resto_title a {
  color: black;
  text-decoration: none;
}

.restaurants .resto_blocs .resto_bloc .bloc_text .resto_like {
  font-size: 25px;
  position: relative;
  top: 15px;
}

.restaurants .resto_blocs .resto_bloc .bloc_text .resto_like .heart_filled {
  opacity: 0;
  top: -30px;
  left: -0.5px;
  background: -webkit-gradient(linear, right top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  font-size: 26px;
  -webkit-transition: 0.3s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.restaurants .resto_blocs .resto_bloc .bloc_text .resto_like .heart_filled:hover {
  opacity: 1;
}

.restaurants .resto_blocs .resto_bloc .bloc_text .resto_like .heart_empty {
  font-weight: lighter;
}

.restaurants .resto_blocs .resto_bloc .bloc_text .resto_like .heart_empty:hover {
  opacity: 0;
}

/* Footer */
footer {
  background-color: #353535;
  padding-left: 5%;
  padding-bottom: 5%;
}

footer p a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

footer p i {
  color: white;
  font-size: 10px;
}

footer img {
  -webkit-filter: invert(1);
          filter: invert(1);
  width: 100px;
  margin: 10px 0;
}

.menu_img img {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}

.nav_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav_menu i {
  position: absolute;
  left: 22px;
  top: 24px;
}

.nav_menu .logo {
  padding: 15px 0 15px 0;
}

.menu {
  border-radius: 18px 18px 0 0;
  background-color: #F6F6F6;
  position: relative;
  top: -25px;
}

.menu .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -25px;
}

.menu .title .resto_like {
  font-size: 25px;
  position: relative;
  top: 20px;
}

.menu .title .resto_like .heart_filled {
  opacity: 0;
  top: -37.5px;
  left: -1px;
  background: -webkit-gradient(linear, right top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  font-size: 26.5px;
  -webkit-transition: 0.3s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu .title .resto_like .heart_filled:hover {
  opacity: 1;
}

.menu .title .resto_like .heart_empty {
  font-weight: lighter;
}

.menu .title .resto_like .heart_empty:hover {
  opacity: 0;
}

.menu .menu_bloc .card_elements:nth-child(1) {
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: visible;
  -webkit-animation-name: cardDisplay;
          animation-name: cardDisplay;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
}

@-webkit-keyframes cardDisplay {
  0% {
    visibility: hidden;
    opacity: 0;
    margin-top: 10px;
  }
  75% {
    visibility: visible;
    opacity: 0.5;
    margin-top: 5px;
  }
  100% {
    visibility: visible;
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes cardDisplay {
  0% {
    visibility: hidden;
    opacity: 0;
    margin-top: 10px;
  }
  75% {
    visibility: visible;
    opacity: 0.5;
    margin-top: 5px;
  }
  100% {
    visibility: visible;
    opacity: 1;
    margin-top: 0;
  }
}

.menu .menu_bloc .card_elements:nth-child(2) {
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: visible;
  -webkit-animation-name: cardDisplay;
          animation-name: cardDisplay;
  -webkit-animation-duration: 0.85s;
          animation-duration: 0.85s;
}

@keyframes cardDisplay {
  0% {
    visibility: hidden;
    opacity: 0;
    margin-top: 10px;
  }
  75% {
    visibility: visible;
    opacity: 0.5;
    margin-top: 5px;
  }
  100% {
    visibility: visible;
    opacity: 1;
    margin-top: 0;
  }
}

.menu .menu_bloc .card_elements:nth-child(3) {
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: visible;
  -webkit-animation-name: cardDisplay;
          animation-name: cardDisplay;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@keyframes cardDisplay {
  0% {
    visibility: hidden;
    opacity: 0;
    margin-top: 10px;
  }
  75% {
    visibility: visible;
    opacity: 0.5;
    margin-top: 5px;
  }
  100% {
    visibility: visible;
    opacity: 1;
    margin-top: 0;
  }
}

.menu .menu_name {
  margin: 15px;
}

.menu .menu_name .border {
  background-color: #99E2D0;
  margin-top: 2px;
  height: 3px;
  width: 39px;
  position: absolute;
}

.menu .menu_card {
  background-color: #fff;
  margin: 15px 10px;
  height: 82px;
  width: 100%;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0px 0px 17px -7px #828282;
  -webkit-box-shadow: 0px 0px 17px -7px #828282;
  -moz-box-shadow: 0px 0px 17px -7px #828282;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
}

.menu .menu_card:hover > .checkmark {
  margin-right: 0px;
}

.menu .menu_card:hover > .checkmark i {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.menu .menu_card .left_card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .menu_card .left_card > div {
  margin: 0;
  width: 100%;
}

.menu .menu_card .left_card > div p:nth-child(1) {
  font-size: 16px;
  padding: 0 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu .menu_card .checkmark {
  width: 100px;
  background-color: #99E2D0;
  margin-right: -100px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-bottom: 5px;
}

.menu .menu_card .checkmark i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 27px;
  width: 27px;
  margin-top: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 50px;
  color: #99E2D0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu .menu_card p {
  margin: 0 8px;
}

.menu .menu_card p:nth-child(1) {
  font-size: 17px;
  padding: 5px;
}

.menu .menu_card p:nth-child(3) {
  font-weight: bold;
}

.menu .menu_card p:nth-child(3) a {
  padding: 15px 10px;
}

.menu .price_menu {
  font-weight: bold;
  padding: 0 15px;
}

.menu button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  min-width: 77%;
}

.c1 p:nth-child(2) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  margin-left: 11px;
}

.c2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */