/* Global */

*{
    margin: 0 auto;
}

body {
    font-family: 'Roboto', sans-serif;
  }

.title, .title_menu{
    font-family: 'Shrikhand', cursive;
}

/* Nav */

.nav{
    display: flex;
    align-items: center;
    flex-direction: column;

    .logo{
        padding: 4% 0 2% 0 ;
    }
}

/* main */

.explorer{
    text-align: center;
    background-color: #F6F6F6;

    h1{
        font-size: 26px;
    }

    p{
        margin: 15px 25px;
    }

    .button_omf{
        padding: 4% 8%;
        font-size: 16px;
        border: none;
        border-radius: 60px;
        background: linear-gradient(173deg, rgba(203,119,223,1) 31%, rgba(160,90,220,1) 79%);
        color: white;
        transition: 0.5s;
        filter: brightness(1);
        box-shadow: 0px 8px 17px -2px rgba(130,130,130,0.36);
        -webkit-box-shadow: 0px 8px 17px -2px rgba(130,130,130,0.36);
        -moz-box-shadow: 0px 8px 17px -2px rgba(130,130,130,0.36);


        &:hover{
            filter:brightness(1.25);

            box-shadow: 0px 8px 17px -2px rgba(130,130,130,0.67);
            -webkit-box-shadow: 0px 8px 17px -2px rgba(130,130,130,0.67);
            -moz-box-shadow: 0px 8px 17px -2px rgba(130,130,130,0.67);
        }
    }
}

/* searchbar */

.searchbar{
    width: 100%;
    background-color: #EAEAEA;
    text-align: center;

    input{
        border: 0px none;
        background-color: #EAEAEA;
        font-size: 18px;
        padding: 5% 0;
    
        text-align: center;
        font-weight: bold;
    }
}

/* Fonctionnement */

.fonctionnement{
    height: 100%;
    margin: 12% 3%;

    h1{
        margin-bottom: 4%;
    }

    .fonc_etapes{
        background-color: #F6F6F6;
        border-radius: 17px;
        margin: 2% 5%;
        margin-left: 10%;
        display: inline-flex;
        align-items: center;
        padding: 5%;
        width: 75%;
        box-shadow: 0px 0px 17px -7px rgba(130,130,130,1);
        -webkit-box-shadow: 0px 0px 17px -7px rgba(130,130,130,1);
        -moz-box-shadow: 0px 0px 17px -7px rgba(130,130,130,1);

        .fonc_num{
            position: absolute;
            padding: 1% 2%;
            background-color: #9356DC;
            border-radius: 100%;
            font-size: 12px;
            color: white;
            margin-left: -8%;
        }

        p{
            font-weight: bold;
            margin-left: -5%;
        }

    }    

    

}



/* Restos */


.restaurants{
    background-color: #F6F6F6;

    h1{
        padding-top: 50px;
        padding-bottom: 25px;
    }

    .resto_blocs{
        display: flex;
        flex-direction: column;
        align-items: center;

        .resto_bloc{
            margin-bottom: 5%;

            img{
                width: 95vw;
                height: 210px;
                object-fit: cover;
                border-radius: 15px 15px 0 0;
            
            
            }

            .bloc_text{
                background-color: #fff;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: -4px;
                border-radius: 0 0 8% 8%;
                font-size: 20px;
                padding: 3.5% 0;
        
                .resto_title{
                    font-weight: bold;
        
                    a{
                        color: black;
                        text-decoration: none;
                    
                    }
        
                }

                .resto_like{
                    font-size: 25px;

                    .heart_filled{
                        margin-top: -27.5px;
                        margin-left: 2.3px;
                        opacity: 0;
                        color: #FF79DA;
                        position: absolute;
                        font-size: 20.5px;
                        padding-top: -6px;
                        -webkit-transition: 0.3s;
                        transition: 0.5s;
                    

                        &:hover{
                            opacity: 1;
                        }


                    }
                }
            
            }
        }
    }

    
}


/* Footer */

footer{
    background-color: #353535;

    a{
        color: white;
        text-decoration: none;
    
    }

    i{
        color: white;
    }

    img{
        filter: invert(1);
    }
}
